<section class="form-container">
  <div>
    <form method="POST">
      <h4 class="form-title">Card Details</h4>
      <ul role="list">
        <li class="form-item">
          Card Number:
        </li>
        <li class="form-item">
          <input
            type="text"
            id="longCardNumber"
            name="longCardNumber"
            minlength="16"
            maxlength="16"
            placeholder="Enter Valid Card Number"
          />
        </li>
        <li class="form-item">
          Expiration Date:
        </li>
        <li class="form-item">
          <input
            type="text"
            id="expirationDate"
            name="expirationDate"
            placeholder="MM/YY"
            minlength="5"
            maxlength="5"
          />
        </li>
        <li class="form-item">
          CVV:
        </li>
        <li class="form-item">
          <input
            type="text"
            id="cvvCode"
            name="cvvCode"
            minlength="3"
            maxlength="3"
            placeholder="Enter CVV Code"
          />
        </li>
      </ul>
      <span class="card-element-field">
        <button class="button hover filled_pink" type="submit"><i
            class="fa-regular fa-credit-card"
          ></i>
          Make Payment</button>
      </span>
    </form>
  </div>
  <div class="form-img-container">
    <img
      class="form-img"
      src="https://res.cloudinary.com/deztgvefu/image/upload/v1706546636/template_images/MobileWallet_CB2_mobile_shxokh.jpg"
      alt="image"
    />
  </div>
</section>