<section class="hero">
  <div class="hero-wrapper">
    <h3 class="hero-title">
      Celebrating Timeless Elegance
    </h3>
    <h4 class="hero-sub-title">
      Enduring Craftsmanship
    </h4>
    <p class="hero-desc">
      Immerse yourself in a curated collection that reflects the essence of
      sophistication. From classic designs to contemporary marvels, our pieces
      are a blend of tradition and innovation.
    </p>
    <p class="hero-desc">
      Every gemstone, every setting, is chosen with precision and care, ensuring
      that each creation is a testament to the artistry that defines
      <i>JS Gems</i>.
    </p>
  </div>
  <div class="hero-img-container">
    <img
      class="hero-img"
      src="https://res.cloudinary.com/deztgvefu/image/upload/v1706337258/template_images/fifty_incredibles_pink_b_i0m1in.webp"
      alt=""
    />
  </div>
</section>