.header .navigation {
    margin-left: auto;
    margin-right: auto;
}

.header .nav-list {
    display: flex;
    gap: 2vw;
}

.header .nav-list a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

.nav-item a {
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.nav-item:hover a {
    transform: scale(1.2);
}

.header .icon-container {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.header .icon-container a {
    color: var(--white);
    text-decoration: none;
}

.likes-count-nav {
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
}

.cart-count-nav {
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
}

.header i:hover, .header li:hover {
    color: var(--dark-pink);
}