.shopping-cart-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cart-img-container {
    width: 24%;
    aspect-ratio: 1 / 1;
    margin: 18px;
    border-radius: 16px;
    margin-bottom: 24px;
}

.cart-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shopping-cart-title {
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 56%;
    /*top: 32vh;*/
    /*top: 182px;*/
}

.shopping-cart-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 24px 96px;
    font-size: 16px;
}

.left-container {
    width: calc(70% - 96px);
}

.left-container-title, .right-container-title {
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 500;
}

.left-subcontainer {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.jewelry-container {
    display: flex;
}

.shopping-cart-image-container {
    width: 30%;
    height: 30%;
    aspect-ratio: 1 / 1;
    background-color: var(--white-pink);
    margin: 18px 22px 18px 18px;
    border-radius: 16px;
}

.shopping-cart-jewelry-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jewelry-composition {
    width: 50%;
    margin: 18px 18px 18px 0px;
    position: relative;
}

.composition-category {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--white-pink);
    border-radius: 4px;
    padding: 4px;
    margin: 0px 0px 4px 0px;
}

.composition-title {
    margin: 0px 0px 8px 0px;
    font-size: 18px;
}

.composition-item {
    margin-bottom: 4px;
    display: inline-block;
}

.composition-item-size {
    position: absolute;
    bottom: 0;
}

.price-and-quantity {
    width: 20%;
    position: relative;
    margin: 18px 18px 18px 0px;
}

.item-price {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    font-weight: 600;

}

.item-quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.item-quantity button {
    display: block;
}

.item-quantity input {
    border-color: var(--dark-pink);
    font-size: 18px;
    border-radius: 16px;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    text-align: center;
    margin: auto;
    display: flex;
}


.right-container {
    width: calc(30% - 96px);
    position: sticky;
    top: calc(30% + 12px);
}

.right-sticky {
    position: sticky;
    top: calc(30% + 12px);
}

.order-summary-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
}

.subtotal {
    margin: 0px;
    font-weight: 600;
}

.seperation-line {
    border-width: 1px;
    border-style: dotted;
    border-color: var(--dark-pink);
    border-bottom-right-radius: 12px;
    margin: 20px 0px;
}

.shopping-cart-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/*@media screen and (max-width: 767px) {*/
/*    .shopping-cart-wrapper {*/
/*        display: flex;*/
/*        justify-content: space-evenly;*/
/*        flex-direction: column;*/
/*        padding: 24px 24px;*/
/*        font-size: 16px;*/
/*        align-items: center;*/
/*    }*/

/*    .left-container {*/
/*        width: calc(100% - 48px);*/
/*        height: 50vh;*/
/*    }*/
/*    */
/*    .right-container {*/
/*        width: calc(100% - 48px);*/

/*    }*/

/*    .left-container-title, .right-container-title {*/
/*        text-align: center;*/
/*    }*/
/*}*/

