.success-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.success {
  background-color: var(--white-green);
  font-size: 18px;
  text-shadow: var(--shade);
  color: var(--dark-blue);
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

.close-button {
  position: absolute;
  margin-top: 12px;
  top: 0;
  right: 20px;
  cursor: pointer;
}

.success-checkbox {
  display: none;
}

.success-checkbox:checked ~ .success {
  opacity: 0;
}

.success-checkbox:checked ~ .success .close-button {
  display: none;
}
