<div class="discover-container">
  <div class="discover-element">
    <a href="/jewelries/2" class="discover-button">Discover</a>
    <img
      class="discover-img"
      src="https://res.cloudinary.com/deztgvefu/image/upload/v1713876616/searchresults/largeherod_l2_hj_incre_heartshape_ea_1_zvhkdz.webp"
      alt="earrings"
      class="discover-img"
    />
  </div>
  <div class="discover-element">
    <a href="/jewelries/3" class="discover-button">Discover</a>
    <img
      class="discover-img"
      src="https://res.cloudinary.com/deztgvefu/image/upload/v1713876615/searchresults/herolarged_l1_fj_a_qxwkjm.jpg"
      alt="necklaces"
      class="discover-img"
    />
  </div>
  <div class="discover-element">
    <a href="/jewelries/1" class="discover-button">Discover</a>
    <img
      class="discover-img"
      src="https://res.cloudinary.com/deztgvefu/image/upload/v1713876597/searchresults/herolarged_bracelets_dn8154.png"
      alt="bracelets"
      class="discover-img"
    />
  </div>
  <div class="discover-element">
    <a href="/jewelries/4" class="discover-button">Discover</a>
    <img
      class="discover-img"
      src="https://res.cloudinary.com/deztgvefu/image/upload/v1713876614/searchresults/largeherod_l2_hj_hope_3_a_w6xvnn.webp"
      alt="rings"
      class="discover-img"
    />
  </div>
</div>