<nav class="navigation">
  <ul class="nav-list" role="list">
    <li class="nav-item">
      <a class="zoom-text" href="/jewelries/earrings">Earrings</a>
    </li>
    <li>
      <a href="/jewelries/necklaces">Necklaces</a>
    </li>
    <li>
      <a href="/jewelries/bracelets">Bracelets</a>
    </li>
    <li>
      <a href="/jewelries/rings">Rings</a>
    </li>
  </ul>
</nav>