<nav class="navigation">
  <ul class="nav-list" role="list">
    <li class="nav-item">
      <a class="zoom-text" href="/jewelries/2">Earrings</a>
    </li>
    <li class="nav-item">
      <a class="zoom-text" href="/jewelries/3">Necklaces</a>
    </li>
    <li class="nav-item">
      <a class="zoom-text" href="/jewelries/1">Bracelets</a>
    </li>
    <li class="nav-item">
      <a class="zoom-text" href="/jewelries/4">Rings</a>
    </li>
  </ul>
</nav>