<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSGems</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/deztgvefu/image/upload/v1707847670/template_images/Screenshot_2024-02-13_at_20.06.31-modified_pyjryy.png"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <img
              class="logo"
              src="https://res.cloudinary.com/deztgvefu/image/upload/v1707847670/template_images/Screenshot_2024-02-13_at_20.06.31-modified_pyjryy.png"
              alt="logo"
            />
          </li>
          <li>
            <a href="/earrings/all">Earrings</a>
          </li>
          <li>
            <a href="/necklaces">Necklaces</a>
          </li>
          <li>
            <a href="/bracelets">Bracelets</a>
          </li>
          <li>
            <a href="/rings">Rings</a>
          </li>
          <li>
            <a href="users/shopping-bag">Shopping Bag</a>
          </li>
          <li>
            <a href="users/login">Login</a>
          </li>
          <li>
            <a href="users/register">Register</a>
          </li>
          <li>
            <a href="users/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>