<section class="form-container-login-or-register">
  <div class="left-login-or-register-container">
    <h4 class="form-login-or-register-title">Registered Customers</h4>
    <h3 class="form-login-or-register-subtitle">Please Sign In to access your
      account</h3>
    <form method="POST" action="/users/login">
      <ul role="list">
        <li class="form-item">
          <input
            placeholder="Enter your email"
            type="text"
            id="email"
            name="email"
          />
        </li>
        <li class="form-item">
          <input
            placeholder="Enter your password"
            type="password"
            id="password"
            name="password"
          />
        </li>
        <li class="form-item">
          <button class="button hover filled_blue">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Login
          </button>
        </li>
      </ul>
    </form>
  </div>
  <div class="right-login-or-register-container">
    <h4 class="form-login-or-register-title">New Customers</h4>
    <h3 class="form-login-or-register-subtitle">Register with
      <i>JS Gems</i>
      for the following benefits:
    </h3>
    <ul>
      <li class="form-item">
        Faster checkout
      </li>
      <li class="form-item">
        Access your order status
      </li>
      <li class="form-item">
        View order history
      </li>
      <li class="form-item">
        Enjoy the convenience of saving your wishlist permanently
      </li>
    </ul>
    <a href="/users/register">
      <button class="button hover filled_green">
        <i class="fa-solid fa-user-plus"></i>
        Register
      </button>
    </a>
  </div>
</section>
